// Cornell
// -------------------------

$cornell-primary: #4d4e53;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;


// Colors
// -------------------------

$yellow: #e7aa01;
// $blue: #52a4b2;
$teal: #1a979c;

$textColorDark: #555;

$charcoalGray: #313236;
$mediumGray: #4d4e54;
$lightGray: #b3b3b5;
$paleGray: #d8d8da;

$paleTeal: #d6edee;

$footerText: #666;


// OLD STUFF - TO BE UPDATED WITH NEW COLORS OR DELETED:

$linkPrimary: #38818d;
$linkPrimaryHover: #113e3f;

$red: #a52615;

$brown: #4e2a1a;
$darkBrown: #301a10;

$teal: #15a383;
$darkTeal: #15594a;

$paleGray: #efebeb;


$footerLink: #948c88;


// Fonts
// -------------------------
$baseFontFamily:        'Montserrat', sans-serif;        @import
url(http://fonts.googleapis.com/css?family=Montserrat:400,700);