body {
	font-family: $baseFontFamily;
	font-weight: 400;
	color: $textColorDark;
	background: #333;
}

/* Links */
/*------------------------------*/
a { 
	color: $teal;
	text-decoration: underline;
}
// a:visited {
// 	background: white; }
a:hover,
a:active { 
	color: black;
}

a.img-link:hover { background: inherit; }

/* Typography */
/*------------------------------*/

h2, h3, h4, h5 { font-weight: 400; }
h2 {
	text-transform: uppercase;
	color: black;
	margin: 0 0 1em;
	padding-bottom: 20px;
	background: url("/etc/img/diagonal.png") repeat-x bottom; }
h3 {
	text-transform: uppercase;
	font-size: 25px;
	margin: 1em 0 .5em; }
h4 {
	text-transform: uppercase;
	font-size: 20px; }
p, li { 
	font-size: 16px;
	line-height: 1.75em;
}

blockquote {
	line-height: 1.8em;
	color: $mediumGray;
	border-color: $paleTeal;
}

/* Images */
/*------------------------------*/
img { 
	max-width: 100%;
	border: 5px solid $lightGray;
}

/* Miscellaneous */
/*------------------------------*/
.main-content {
	.caption { 
	  	color: $mediumGray;
	  	margin-top: .5em;
	  	font-size: 12px;
	  	text-align: center;
	}
}
.emphasize { font-size: 150%; }

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

/* IE8 */
/*------------------------------*/
// .ie7,
// .ie8 {
// 	.site-title {
// 		// h1 { font-size: 2em; }
// 	}
// }